// ---------------------------------------------------------------
//
//  Navigation in footer
//
// ---------------------------------------------------------------

.nav-footer {
	position: relative;
	margin: 0 auto;
	padding: px2em(6px, 13px);
	font-size: px2em(13px);
	width: px2em($main_container_width, 13px);

	a {
		color: inherit;
		text-decoration: none;
	}
}

.nav-footer__list {
	margin: 0;
	padding: 0;


	li {
		float: left;
		list-style: none;
		margin-left: 0;
		margin-right: px2em(28px);
	}
}