.logo {
	@extend %hide_text;
  	float: left;
	font-size: px2em(32px);
	margin: 0;
	padding: 0;
	width: px2em(300px, 32px);
	height: px2em(54px, 32px);
	background: url(../../img/clarat-blog_logo.svg) no-repeat;
	background-size: px2em(300px, 32px) auto;
}
